
<div class="container">

  <div class="img">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThjCecqhuXk81k_6jVeYYC0s3ZAhLszTp58jlJohhc-A&s" alt="#">
  </div>

  <div class="datas">

    <div class="input-box">
      <label>Name:</label>
      <input id="name" value="Edwin Lopez">
    </div>
    <div class="input-box">
      <label>Email:</label>
      <input id="email" value="edwin@gmail.com">
    </div>
    <div class="input-box">
      <label>Cellphone:</label>
      <input id="cellPhone" value="994126830">
    </div>
    <div class="input-box">
      <label>N° Registered plants:</label>
      <input value="9" readonly>
    </div>

    <button mat-button color="primary" style="background: #AFF1FF; color: black">
      <mat-icon>edit</mat-icon>Updated
    </button>
  </div>


</div>



